.text-right {
    text-align: right;
}

/*Replace chevron to better visibility*/
.carousel-control-prev-icon {
    background-image: url('../public/back-carousel.png') !important;
}

.carousel-control-next-icon {
    background-image: url('../public/next-carousel.png') !important;
}
