.text-right {
    text-align: right;
}

/*Replace chevron to better visibility*/
.carousel-control-prev-icon {
    background-image: url('../public/back-carousel.png') !important;
}

.carousel-control-next-icon {
    background-image: url('../public/next-carousel.png') !important;
}

.increase-spinner {
    width: 8rem !important;
    height: 8rem !important;
}

.stat-wrapper {
    padding: 10px;
    border: 1px solid black;
    margin: 10px;
}
